h1,h2,h3,h4,h5{
    font-size: 50px;
    color: #FFFFFF;
}
p{
    font-size: 20px;
    color: #ffffff;
}
.navbar-custom{
    background-color: #2b3a57;
}
body{
    background-color: #252627;
}
.card{
    background-color: #252727  ;
    border-radius: 0px;
}
.newpost-a{
    color: whitesmoke;
}
.newpost-h1{
    color: white;
}
.card:hover{
    background-color: black;
}
hr{
    background-color: white;
    border-color: white;
}
label{
    color: white;
}
.custom-a
{
    font-size: 50px;
    color: whitesmoke;
}
.links{
    display: flex;
    justify-content: space-between;
}